#c-bulk-update-requests #a-new, #c-bulk-update-requests-imports #a-new {
  #script-help {
    color: themed("color-text");
  }
}

#c-bulk-update-requests-imports #a-new #script-help {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
